
<div class="container">
    <h2>Plan de Comunicación y Capacitación</h2>
    <br>
    <p>
        Este plan está orientado a asegurar que todos los miembros de la organización comprendan y participen activamente en el proceso. 
    </p>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <h3><i class="bi bi-card-list fs-3"></i> Objetivos del Plan</h3>
          <ul>
            <li><b>Comunicar</b> claramente los objetivos y el funcionamiento del sistema de evaluación.</li>
            <li><b>Capacitar</b> a los responsables de las evaluaciones para que apliquen el sistema de manera consistente.
            </li>
            <li><b>Fomentar la participación</b> de todos los empleados a través de reuniones informativas y materiales de apoyo.
            </li>
          </ul>
    </div>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <h3><i class="bi bi-gear fs-3"></i> Actividades</h3>
          <ul>
            <li><b>Reuniones informativas:</b> Presentaciones sobre el propósito y la implementación del sistema.</li>
            <li><b>Capacitación:</b> Talleres prácticos para los evaluadores.
            </li>
            <li><b>Documentación:</b> Distribución de guías y manuales.
            </li>
          </ul>
    </div>

    <div class="shadow-none p-3 mb-5 bg-light rounded">
       <h3><i class="bi bi-calendar2-day-fill f"></i> Cronograma</h3>
          <ul>
            <li><b>Mes 1:</b> Introducción y sensibilización.</li>
            <li><b>Mes 2:</b> Capacitación técnica.</li>
            <li><b>Mes 3:</b>Implementación y evaluación.
            </li>
          </ul>
    </div>
</div>
