
<div class="tabla-responsive-top3">


  <div *ngFor="let item of top3; let i = index">
    <div class="card">
      <div class="card-body">
        <!-- wrapper de imagen con la clase dinámica -->
        <div [ngClass]="['img-wrapper', variantes[i]]">
          <img [src]="imagenes[i]" [alt]="item.nombreTrabajador" width="35px" height="35px"/>
        </div>
  
        <div class="contenidoCard">
         
          <span>Puntaje:{{ item.puntajeTotal }}</span>
          <span>{{ item.nombreTrabajador }}</span>
          <span>{{ item.puesto }}</span>
        </div>
      </div>
    </div>
  </div>
  
  

</div>


<div class="tabla-responsive">

  <table class="tabla">
    <thead>
      <tr>
        <th style="background-color:rgb(252, 243, 207); color: gray;">Nombre</th>
        <th style="background-color:rgb(252, 243, 207); color: gray;">Puesto</th>
        <th style="background-color:rgb(245, 183, 177); color: gray;">Conocimiento</th>
        <th style="background-color:#85c1e9; color: gray; " >Esfuerzo Físico</th>
        <th style="background-color:#c39bd3; color: gray;">Experiencia</th>
        <th style="background-color:rgb(242, 215, 13);  color: gray;">Habilidad Mental</th>
        <th style="background-color:deepskyblue;  color: gray;">Preparacion Academica</th>
        <th style="background-color: #82e0aa;  color: gray;">Responsabilidad</th>
       
        <th>Suma</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datos">
        <td>{{ item.nombreTrabajador }}</td>
        <td>{{ item.puesto }}</td>
        <td>{{ item.conocimiento }}</td>
        <td>{{ item.esfuerzoFisico }}</td>
        <td>{{ item.experiencia }}</td>
        <td>{{ item.habilidadMental }}</td>
        <td>{{ item.preparacionAcademica }}</td>
        <td>{{ item.responsabilidad }}</td>
        <td> {{getTotal(item)}}</td>
      </tr>
    </tbody>
  </table>
</div>
