
<div class="container">
    <h2>Evaluaciones de Puestos</h2>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <h3>Metodología de Evaluación:</h3><br>
          <ul>
            <li><b>Análisis del puesto:</b> Se realiza una descripción detallada del puesto, incluyendo las responsabilidades, habilidades requeridas y condiciones de trabajo.</li>
            <li><b>Asignación de puntuaciones:</b> Los factores se puntúan según las escalas definidas en el sistema.
            </li>
            <li><b>Jerarquización:</b> Los puestos se jerarquizan según la puntuación total obtenida.
            </li>
          </ul>
    </div><br>

    <h3>Ejemplo de Evaluación</h3>
    
    <a href="/listadoEvaluaciones" class="link-info">Ver listado de evaluaciones</a>
   
    <app-verinformacion></app-verinformacion>
</div>

