
<div class="container">
    <h2>Evaluaciones de Puestos</h2>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <h3>Metodología de Evaluación:</h3><br>
          <ul>
            <li><b>Análisis del puesto:</b> Se realiza una descripción detallada del puesto, incluyendo las responsabilidades, habilidades requeridas y condiciones de trabajo.</li>
            <li><b>Asignación de puntuaciones:</b> Los factores se puntúan según las escalas definidas en el sistema.
            </li>
            <li><b>Jerarquización:</b> Los puestos se jerarquizan según la puntuación total obtenida.
            </li>
          </ul>
    </div><br>

    <h3>Ejemplo de Evaluación</h3><br>
    <div class="container">
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-primary">
          <tr>
            <th>PUESTO</th>
            <th>RESPONSABILIDAD</th>
            <th>CONOCIMIENTO</th>
            <th>IMPACTO</th>
            <th>CONDICIONES</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Gerente de proyecto </td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>7</td>
            <td>34</td>
          </tr>

      </table>
    </div>
    <br>
      <a href="/listadoEvaluaciones" class="link-info" style="font-size: 20px; color: blue; font-size: 25px;">Ver listado de evaluaciones</a>

</div>

