
<div class="container">
    <h2>Escalas de Puntuación y Ponderación</h2>
    <br>
    <div class="shadow-none p-3 mb-5 bg-light rounded">
        <p>Los factores a considerar son los siguientes:</p>
          <ul class="list-unstyled">
            <li><b>✔ Responsabilidad:</b> <p>Evalúa el nivel de responsabilidad del puesto.</p></li>
            <li><b>✔ Conocimiento y habilidades</b>
                <p>Mide las competencias técnicas y habilidades requeridas.</p>
            </li>
            <li><b>✔ Impacto</b>
                <p>Evalúa el impacto directo del puesto en la organización.</p>
            </li>
            <li><b>✔ Condiciones de trabajo</b> 
                <p>Considera las condiciones laborales, como riesgos y ambiente de trabajo.</p>
            </li>
          </ul><br>
          <p>*Cada uno de estos factores tiene un valor ponderado, que se asigna según el puesto evaluado.</p>
          <br>
    </div>

    <div class="container">
        <h4>Escalas de puntuación</h4>
          <br>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-primary">
                <tr>
                  <th>Factor</th>
                  <th>Escala de Puntuación	</th>
                  <th>Ponderación</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Responsabilidad</td>
                  <td>1 - 10</td>
                  <td>40%</td>
                </tr>
                <tr>
                  <td>Conocimiento y habilidades	</td>
                  <td>1 - 10</td>
                  <td>30%</td>
                </tr>
                <tr>
                    <td>Impacto</td>
                    <td>1 - 10</td>
                    <td>20%</td>
                  </tr>
                  <tr>
                    <td>Condiciones de trabajo</td>
                    <td>1 - 10</td>
                    <td>10%</td>
                  </tr>
              </tbody>
            </table>
          </div>
          
      </div>


   
  
</div>
