.headerMain {
  background-color:#1f618d;
  color: white;
  padding: 0 5px 0 5px;
  border: 1px solid #000;
  justify-items: right;
  height: 80px;
}

.cuenta {
  display: grid;
  justify-items: center;
  justify-content: right;
}
.logo {
  flex-shrink: 0;
}

.menu {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
 
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

li {
  list-style: none; /* Quita el marcador de la lista */
}

li a {
  color: inherit; /* Hereda el color del elemento padre o lo puedes especificar */
  text-decoration: none; /* Quita el subrayado de los enlaces */
}

.menu-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  
  
  padding: 10px;
}

.acceso {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Avatar dentro del acceso */
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  background: none;
  border: none;

  cursor: pointer;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .headerMain {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .menu{
    font-size: 12px;
  }
  .menu-container {
    display: none;
    flex-direction: column;
  }

  .menu-container.open {
    display: flex;
  }

  .menu-toggle {
    display: flex;
    justify-content: right;
    font-size: 2.0rem;
    color: white;
  }

  img{
    width: 30px;
    height: 30px;
  }

  .hamburgesa {
    display: flex;
    justify-content: right;
    font-size: 0.5rem;
    color: white;
  }
}
