<div class="headerMain">
  <!-- Botón hamburguesa (visible en pantallas pequeñas) -->
  <div class="hamburgesa">
    <button class="menu-toggle" [class.open]="menuOpen" (click)="toggleMenu()">
      ☰
    </button>
  </div>
  <!-- Contenedor del menú y control de usuario -->
  <div class="menu-container" [class.open]="menuOpen">
    
      <!--<div class="logo">
        <img src="../../../assets/img.png" height="55px" width="55px" />
      </div>
   -->
      <nav class="menu">
        <ul>
          <li><a href="/Home"><i class="bi bi-house fs-2"></i> Inicio</a></li>
        </ul>
       <ul>
          <li><a href="/valuacionPuestos"><i class="bi bi-person-plus-fill fs-2"></i> Evaluación</a></li>
        </ul>
        <!--
        <ul>
          <li><a href="/verInformacion">Ver informacion</a></li>
        </ul>-->
      </nav>
  </div>
</div>