
<div class="container">
    <h2>Comparación Salarial con el Mercado</h2>
    <br>
    
    <p>Los resultados son los siguientes:</p>
    <div class="container">
        <h4>Comparación de Salarios</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-success">
                <tr>
                  <th colspan="5" style="text-align: center;">SALARIO DIARIO</th>
                </tr>
              </thead>
              <thead class="table-primary">
                <tr>
                  <th>PUESTOS</th>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Director General </td>
                  <td>$670.00 </td>
                  <td>$770.50	</td>
                  <td>$886.08</td>
                  <td>$1018.99</td>
                </tr>
                <tr>
                  <td>Gerente de Operaciones</td>		
                  <td>$550.00</td>
                  <td>$632.50</td>
                  <td>$727.38</td>
                  <td>$836.48</td>
                </tr>
                <tr>
                    <td>Gerente de Finanzas</td>
                    <td>$510.88	</td>
                    <td>$587.51	</td>
                    <td>$675.64</td>
                    <td>$776.98</td>
                  </tr>
                  <tr>			
                    <td>Gerente de Recursos Humanos</td>
                    <td>$473.33</td>
                    <td>$544.33</td>
                    <td>$625.98</td>
                    <td>$719.88</td>
                  </tr>
                  <tr>			
                    <td>Gerente de Transporte</td>
                    <td>$390.33</td>
                    <td>$448.88</td>
                    <td>$516.21</td>
                    <td>$593.64</td>
                  </tr>
                  <tr>			
                    <td>Coordinador de Almacén</td>
                    <td>$352.00</td>
                    <td>$404.80</td>
                    <td>$465.52</td>
                    <td>$535.34</td>
                  </tr>
                  <tr>
                    <td>Analista de datos Logisticos</td>
                    <td>$335.33</td>
                    <td>$3385.63</td>
                    <td>$443.47</td>
                    <td>$510.00</td>
                  </tr>
                  <tr>			
                    <td>Gerente de Ventas</td>
                    <td>$315.33</td>
                    <td>$362.63</td>
                    <td>$417.02</td>
                    <td>$479.58</td>
                  </tr>
                  <tr>			
                    <td>Asistente Administrativo</td>
                    <td>$310.98</td>
                    <td>$357.63</td>
                    <td>$411.27</td>
                    <td>$472.96</td>
                  </tr>
                  <tr>			
                    <td>Recepcionista</td>
                    <td>$280.33</td>
                    <td>$322.38</td>
                    <td>$370.74</td>
                    <td>$426.35 </td>
                  </tr>
              </tbody>
            </table><br>
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-success">
                <tr>
                  <th colspan="5" style="text-align: center;">SALARIO MENSUAL</th>
                </tr>
              </thead>
              <thead class="table-primary">
                <tr>
                  <th>PUESTOS</th>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                </tr>
              </thead>
              <tbody>
                <tr>			

                  <td>Director General </td>
                  <td>$20,100.00 </td>
                  <td>$23,115.00 </td>
                  <td>$26,582.25</td>
                  <td>$30,569.59</td>
                </tr>
                <tr>  	 	 
                  <td>Gerente de Operaciones</td>
                  <td>$16,500.00 </td>
                  <td>$18,975.00 </td>
                  <td>$21,821.25 </td>
                  <td>$25,094.44  </td>
                </tr>
                <tr>  	 	 	  
                    <td>Gerente de Finanzas</td>
                    <td> $15,326.40</td>
                    <td> $17,625.36	</td>
                    <td> $20,269.16 	</td>
                    <td> $23,309.54</td>
                  </tr>
                  <tr>  	  	 	  

                    <td>Gerente de Recursos Humanos</td>
                    <td>$14,200.00 </td>
                    <td>$16,330.00 </td>
                    <td>$18,779.50</td>
                    <td>$21,596.43 </td>
                  </tr>
                  <tr>  	 	  	
                    <td>Gerente de Transporte</td>
                    <td>$11,709.90</td>
                    <td> $13,466.39 </td>
                    <td> $15,486.34</td>
                    <td> $17,809.29 </td>
                  </tr>
                  <tr>  	  	  	
                    <td>Coordinador de Almacén</td>
                    <td>$10,559.90 </td>
                    <td>$12,143.89</td>
                    <td>$13,965.47</td>
                    <td>$16,060.29 </td>
                  </tr>
                  <tr>  	 	  	  
                    <td>Analista de datos Logisticos</td>
                    <td>$10,059.90</td>
                    <td> $11,568.89</td>
                    <td>$13,304.22</td>
                    <td>$15,299.85</td>
                  </tr>
                  <tr> 	 	 	  
                    <td>Gerente de Ventas</td>
                    <td>$9,459.90  </td>
                    <td>$10,878.89</td>
                    <td>$12,510.72 </td>
                    <td>$14,387.33</td>
                  </tr>
                  <tr>  	  	 	 
                    <td>Asistente Administrativo</td>
                    <td>$9,329.40 </td>
                    <td>$10,728.81</td>
                    <td>$12,338.13</td>
                    <td>$14,188.85</td>
                  </tr>
                  <tr>  	  	  	 
                    <td>Recepcionista</td>
                    <td> $8,409.90 </td>
                    <td>$9,671.39</td>
                    <td>$11,122.09</td>
                    <td>$12,790.41</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <br>
          <p>
            Los resultados muestran que nuestra organización está alineada con el mercado en la mayoría de los casos, con algunas diferencias menores que se están ajustando.
          </p>
      </div>
</div>