
<div class="container">
    <h2>Comparación Salarial con el Mercado</h2>
    <br>
    
    <p>Los resultados son los siguientes:</p>
    <div class="container">
        <h4>Comparación de Salarios</h4>
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
              <thead class="table-primary">
                <tr>
                  <th>Puesto</th>
                  <th>Salario Interno (Mensual)</th>
                  <th>Salario Promedio del Mercado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Gerente de Proyecto	</td>
                  <td>$5,000</td>
                  <td>$5,200</td>
                </tr>
                <tr>
                  <td>Analista de Datos</td>
                  <td>$3,000</td>
                  <td>$3,100</td>
                </tr>
                <tr>
                    <td>Coordinador de Equipo</td>
                    <td>$4,000	</td>
                    <td>$4,300</td>
                  </tr>
                  <tr>
                    <td>Asistente Administrativo</td>
                    <td>$2,200</td>
                    <td>$2,300</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <br>
          <p>
            Los resultados muestran que nuestra organización está alineada con el mercado en la mayoría de los casos, con algunas diferencias menores que se están ajustando.
          </p>
      </div>
</div>