<div class="principal">
    <h2>Sistema de Evaluación y Jerarquización de Puestos</h2>
</div>

<div class="container">
<h4>
    Bienvenido al sistema de evaluación y jerarquización de puestos dentro de nuestra organización. 
</h4><br>
<h6>
    Este sistema tiene como objetivo garantizar una estructura salarial equitativa y alineada con el mercado. A través de una serie de evaluaciones, se asignan puntos a factores clave de cada puesto, lo que nos permite tomar decisiones informadas sobre la jerarquía salarial.
</h6>
</div><br>

<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <span class="bi bi-bar-chart-line-fill"></span> Escalas de puntuación
                </div>
                <div class="card-body">
                    <p class="card-text">El sistema de evaluación de puestos se basa en la asignación de puntos a distintos factores clave que definen el valor de cada puesto dentro de la organización.</p>
                    <br>
                    <a href="#" class="link-info">Ver más...</a>
                </div>
              </div>
        </div><br>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-cash-coin"></i> Comparación salarial.
                </div>
                <div class="card-body">
                    <p class="card-text">Para garantizar que nuestra estructura salarial esté alineada con las tendencias del mercado, hemos realizado un análisis comparativo con estudios salariales de empresas similares en el sector.</p>
                    <a href="#" class="link-info">Ver más...</a>
                </div>
              </div>
        </div><br>
    </div><br>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-person-lines-fill"></i> Plan de Comunicación y Capacitación.
                </div>
                <div class="card-body">
                    <p class="card-text">Para garantizar la implementación exitosa del sistema de evaluación y jerarquización de puestos, es fundamental contar con un plan de comunicación y capacitación adecuado.</p>
                    <a href="#" class="link-info">Ver más...</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-list-check"></i> Evaluaciones de puestos.
                </div>
                <div class="card-body">
                    <p class="card-text">La evaluación de puestos es una parte fundamental del sistema. Permite asignar un valor numérico a cada puesto dentro de la organización, basado en los factores clave que definen su importancia.</p>
                    <a href="#" class="link-info">Ver más...</a>

                </div>
              </div>
        </div>
    </div>
</div>


  